//
// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
//

#include "./version.xcconfig"

APP_CODE = UltraLightDemoApp
PRODUCT_NAME = UltraLightDemoApp

BUILD_USER = $(USER)
FRAMEWORK_SEARCH_PATHS = $(inherited)

ASSETCATALOG_COMPILER_GENERATE_SWIFT_ASSET_SYMBOL_EXTENSIONS = YES
DEVELOPMENT_TEAM = 75P3L796V9
