//
// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
//

#include "./base.xcconfig"
#include "./pods-release.xcconfig"

TARGET_ENVIRONMENT = production

CODE_SIGN_IDENTITY = Apple Distribution
CODE_SIGN_ENTITLEMENTS = Entitlements/DemoApp Release.entitlements
PRODUCT_BUNDLE_IDENTIFIER = com.amadeus.mdi.dvc.ui.sdk.internal
PROVISIONING_PROFILE_SPECIFIER = match AppStore com.amadeus.mdi.dvc.ui.sdk.internal
